
   <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Navbar</a>
  
  <% if (isLogined) { %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link<% if ("/chat"==url) { %> active<% } %>" href="/chat">Chat <span class="sr-only">(current)</span></a>
            </li>
            <% if (activeUser.roles[0].admin) { %>
             <li class="nav-item">
              <a class="nav-link <% if ("/adminchat"==url) { %>active<% } %>" href="/adminchat">AdminChat</a>
            </li>
            <% } %>
            
            
          </ul>
      </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link <% if ("/ProfileInfo"==url) { %>active<% } %>" href="/ProfileInfo"><%= activeUser.name %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link <% if ("/logout"==url) { %>active<% } %>" href="/logout">log out</a>
        </li>
      </div>
      <% } else { %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link <% if ("/login"==url) { %>active<% } %>" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <% if ("/register"==url) { %>active<% } %>" href="/register">Register</a>
          </li>
        </ul>
    <% } %>
    
  </div>
  </nav>